<a href="./sub/abc.txt"></a>
<a href="sub/abc.txt"></a>
<a href="/sub/sub/abc.txt"></a>
<a href="sub/abc.txt?def"></a>
<a href="sub/abc.txt?abc=def"></a>
<a href="sub/abc.txt?abc=def#4"></a>
<a href="sub/abc.txt#4"></a>
